* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.allPage {
    display: flex;
    width: 100%;
    height: 100vh;
    flex: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    border-right: 1px solid #bdbdbd;
}

.logo {
    width: 88%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.logo img {
    width: 150px;
}

.links ul {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links li {
    width: 85%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.links li:hover {
    background-color: rgba(0, 0, 0, 0.034);
}



.links a {
    text-decoration: none;
}

.pageHome span,
.Serach span,
.compass span,
.envelope span,
.notfication span,
.criar span,
.perfil span {
    font-size: 18px;
    padding-left: 10px;
    color: black;
}

.logoff {
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.logoff a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    border-radius: 8px;
    background-color: red;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

/**********************************************************************************/


.search {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    flex: 1;
    margin-top: 50px;
    display: none;
    align-items: center;
    flex-direction: column;

}

.search span {
    width: 80%;
    font-size: 20px;
    color: #bdbdbd;
    display: flex;
    align-items: center;
}

.searchAll {
    width: 90%;
    max-width: 80%;
    max-height: 80vh;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    overflow: hidden;
}

.inputPart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputPart input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.closeModal {
    cursor: pointer;
}

/*****************************************************/

.inbox {
    width: 400px;
    height: 100vh;
    border-right: 1px solid #bdbdbd;
}

