* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 65px;
    height: 100vh;
    border-right: 1px solid #0000001a;
    position: fixed;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 12px 34px 12px;
}

.logo img {
    width: 25px;
}


.links ul,
li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.links li {
    margin: 8px 12px 8px 12px;
}

.links a,
button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 50px;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    background-color: white;
    cursor: auto;
    border-radius: 50px;
}

.links button:hover,
a:hover {
    background-color: #0000000d;
}



.links span {
    margin: 0px 16px 0px 10px;

}

.links p {
    font-size: 16px;
    color: black;
    display: none;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.end {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
    height: 30%;

}

/*Menu^*/


.direct {
    display: flex;
}


.directArea {
    margin-left: 65px;

}

.urFollowers {

    width: 300px;
    height: 100vh;
    border-right: 1px solid #0000001a;
}

.perfilName {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.perfilName span {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
}

.yourPerfil {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.yourPerfil img {
    width: 80px;
    border-radius: 50px;
    margin-left: 20px;

}

.yourPerfil span {
    padding-left: 34px;
    font-size: 12px;
    color: #A8A8A8;
}

.messages {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user1Area {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user1Area:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.pict img {
    width: 50px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.nameUser1 span {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}


.nameUser1 p {
    font-size: 12px;
    color: #A8A8A8;
    font-weight: lighter;
}